In [1]:
import pandas as pd
import re
from datetime import datetime as dt
import numpy as np
import matplotlib.pyplot as plt

In [2]:
jobs = pd.read_csv('../data/complete.csv')
jobs['END'] = pd.to_datetime(jobs['END'])
jobs.sort_values('END')

,JOBID,STATE,COMPLETE,BEGIN,END,REQMEM,Mc_Mn,USEDMEM,DIFFMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
6620848,24460577,COMPLETED,1,2020-10-01 00:05:55,2020-10-01 00:10:15,4096,Mc,868.77,3227.23,12:00:00,00:04:20,1,1,production,0:0
6620906,24460647,COMPLETED,1,2020-10-01 00:10:38,2020-10-01 00:12:58,2000,Mn,0.09,1999.91,2-00:00:00,00:02:20,1,1,sam,0:0
6620898,24460639,COMPLETED,1,2020-10-01 00:11:22,2020-10-01 00:13:31,1024,Mc,221.10,802.90,00:30:00,00:02:09,1,1,production,0:0
6620922,24460668,COMPLETED,1,2020-10-01 00:15:16,2020-10-01 00:17:23,2000,Mn,0.09,1999.91,2-00:00:00,00:02:07,1,1,sam,0:0
6620925,24460671,COMPLETED,1,2020-10-01 00:17:08,2020-10-01 00:17:53,1024,Mc,636.96,387.04,00:30:00,00:00:45,1,1,production,0:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923388,32923987,COMPLETED,1,2021-10-07 20:09:26,2021-10-07 20:11:21,2000,Mn,0.09,1999.91,2-00:00:00,00:01:55,1,1,sam,0:0
923389,32923988,COMPLETED,1,2021-10-07 20:15:05,2021-10-07 20:17:24,2000,Mn,0.09,1999.91,2-00:00:00,00:02:19,1,1,sam,0:0
923390,32923989,COMPLETED,1,2021-10-07 20:24:26,2021-10-07 20:26:01,2000,Mn,393.07,1606.93,2-00:00:00,00:01:35,1,1,sam,0:0
1486117,32923996,COMPLETED,1,2021-10-07 20:31:08,2021-10-07 20:32:45,2000,Mn,0.09,1999.91,2-00:00:00,00:01:37,1,1,sam,0:0
1486118,32923997,COMPLETED,1,2021-10-07 20:39:26,2021-10-07 20:41:11,2000,Mn,0.09,1999.91,2-00:00:00,00:01:45,1,1,sam,0:0

In [3]:
jobs_ce = jobs.loc[(jobs['END'] >= '2020-10-18') & (jobs['END'] <= '2021-10-06')].sort_values(by = 'END')
jobs_ce

,JOBID,STATE,COMPLETE,BEGIN,END,REQMEM,Mc_Mn,USEDMEM,DIFFMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
7027433,25022413,COMPLETED,1,2020-10-17 06:09:28,2020-10-18 00:00:19,30720,Mn,13367.83,17352.17,6-00:00:00,17:50:51,1,2,production,0:0
7032614,25036127,COMPLETED,1,2020-10-17 22:56:28,2020-10-18 00:00:19,3072,Mc,503.49,2568.51,02:00:00,01:03:51,1,1,production,0:0
7032576,25036089,COMPLETED,1,2020-10-17 22:50:55,2020-10-18 00:00:32,3072,Mc,503.62,2568.38,02:00:00,01:09:37,1,1,production,0:0
7033395,25038326,COMPLETED,1,2020-10-17 23:37:30,2020-10-18 00:00:36,21875,Mn,16.73,21858.27,2-00:00:00,00:23:06,1,8,nogpfs,0:0
7032618,25036131,COMPLETED,1,2020-10-17 23:01:44,2020-10-18 00:01:16,3072,Mc,503.58,2568.42,02:00:00,00:59:32,1,1,production,0:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923028,32919175,COMPLETED,1,2021-10-05 23:45:35,2021-10-05 23:48:40,2000,Mn,0.09,1999.91,2-00:00:00,00:03:05,1,1,sam,0:0
920870,32906933_72,COMPLETED,1,2021-10-02 17:11:56,2021-10-05 23:55:39,2048,Mc,574.65,1473.35,5-00:00:00,3-06:43:43,1,1,production,0:0
920867,32906933_69,COMPLETED,1,2021-10-02 17:11:56,2021-10-05 23:57:40,2048,Mc,574.86,1473.14,5-00:00:00,3-06:45:44,1,1,production,0:0
920869,32906933_71,COMPLETED,1,2021-10-02 17:11:56,2021-10-05 23:57:55,2048,Mc,574.68,1473.32,5-00:00:00,3-06:45:59,1,1,production,0:0
923029,32919196,COMPLETED,1,2021-10-05 23:57:35,2021-10-05 23:59:10,2000,Mn,0.09,1999.91,2-00:00:00,00:01:35,1,1,sam,0:0

In [9]:
filtered_jobs = jobs_ce[jobs_ce['END'].dt.date == pd.to_datetime('2020-10-18').date()]
filtered_jobs

,JOBID,STATE,COMPLETE,BEGIN,END,REQMEM,Mc_Mn,USEDMEM,DIFFMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
7027433,25022413,COMPLETED,1,2020-10-17 06:09:28,2020-10-18 00:00:19,30720,Mn,13367.83,17352.17,6-00:00:00,17:50:51,1,2,production,0:0
7032614,25036127,COMPLETED,1,2020-10-17 22:56:28,2020-10-18 00:00:19,3072,Mc,503.49,2568.51,02:00:00,01:03:51,1,1,production,0:0
7032576,25036089,COMPLETED,1,2020-10-17 22:50:55,2020-10-18 00:00:32,3072,Mc,503.62,2568.38,02:00:00,01:09:37,1,1,production,0:0
7033395,25038326,COMPLETED,1,2020-10-17 23:37:30,2020-10-18 00:00:36,21875,Mn,16.73,21858.27,2-00:00:00,00:23:06,1,8,nogpfs,0:0
7032618,25036131,COMPLETED,1,2020-10-17 23:01:44,2020-10-18 00:01:16,3072,Mc,503.58,2568.42,02:00:00,00:59:32,1,1,production,0:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037249,25046420,COMPLETED,1,2020-10-18 16:57:23,2020-10-18 23:59:11,5000,Mn,2077.80,2922.20,2-00:00:00,07:01:48,1,1,production,0:0
7042014,25051345,COMPLETED,1,2020-10-18 23:59:16,2020-10-18 23:59:17,21875,Mn,NaN,NaN,2-00:00:00,00:00:01,1,8,nogpfs,0:0
7041987,25051228,COMPLETED,1,2020-10-18 22:57:41,2020-10-18 23:59:25,65536,Mn,21059.10,44476.90,1-00:00:00,01:01:44,1,4,production,0:0
7030335,25032600_766,COMPLETED,1,2020-10-18 10:46:12,2020-10-18 23:59:36,4096,Mn,329.93,3766.07,23:00:00,13:13:24,1,1,production,0:0
7042072,25051963,COMPLETED,1,2020-10-18 23:58:16,2020-10-18 23:59:58,2000,Mn,0.09,1999.91,2-00:00:00,00:01:42,1,1,sam,0:0

In [51]:
jobs_ce.loc[(jobs_ce['END'] >= '2020-10-18 06:16:25') & (jobs_ce['END'] <= '2020-10-18 06:54:04')]

,JOBID,STATE,COMPLETE,BEGIN,END,REQMEM,Mc_Mn,USEDMEM,DIFFMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
7034426,25041648,COMPLETED,1,2020-10-18 05:57:15,2020-10-18 06:16:36,61440,Mn,4479.47,56960.53,5-00:00:00,00:19:21,1,3,production,0:0
7021299,25007342,COMPLETED,1,2020-10-16 18:27:44,2020-10-18 06:17:21,5000,Mn,2695.32,2304.68,2-00:00:00,1-11:49:37,1,1,production,0:0
7034547,25041921,COMPLETED,1,2020-10-18 06:17:35,2020-10-18 06:19:25,2000,Mn,0.09,1999.91,2-00:00:00,00:01:50,1,1,sam,0:0
7032880,25036718,COMPLETED,1,2020-10-17 21:30:22,2020-10-18 06:19:37,8192,Mn,2243.23,5948.77,1-12:00:00,08:49:15,1,1,production,0:0
7029585,25032600_16,COMPLETED,1,2020-10-17 16:47:50,2020-10-18 06:20:14,4096,Mn,333.37,3762.63,23:00:00,13:32:24,1,1,production,0:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7034448,25041700,COMPLETED,1,2020-10-18 06:52:50,2020-10-18 06:52:51,21880,Mn,NaN,NaN,2-00:00:00,00:00:01,1,8,nogpfs,0:0
7034447,25041697,COMPLETED,1,2020-10-18 06:52:50,2020-10-18 06:52:51,21880,Mn,NaN,NaN,2-00:00:00,00:00:01,1,8,nogpfs,0:0
7024467,25012517,COMPLETED,1,2020-10-16 21:36:43,2020-10-18 06:53:14,5000,Mn,3116.69,1883.31,2-00:00:00,1-09:16:31,1,1,production,0:0
7034416,25041602,COMPLETED,1,2020-10-18 06:31:59,2020-10-18 06:53:16,21878,Mn,1.84,21876.16,2-00:00:00,00:21:17,1,8,nogpfs,0:0
7034413,25041598,COMPLETED,1,2020-10-18 06:31:59,2020-10-18 06:53:24,21878,Mn,1.63,21876.37,2-00:00:00,00:21:25,1,8,nogpfs,0:0

In [49]:
ce5 = pd.read_csv('../data/ce5_unresponsive.csv')
ce5['END'] = pd.to_datetime(ce5['END']).dt.floor('s')

In [47]:
ce6 = pd.read_csv('../data/ce6_unresponsive.csv')
ce6['END'] = pd.to_datetime(ce6['END']).dt.floor('s')

In [57]:
ce_concat= pd.concat([ce5, ce6])
ce_concat.sort_values('END')

,END,USER,RETRY,TIME,RETURNCODE,COMMAND
0,2020-10-18 06:16:25,9204,0,20.037672,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."
1,2020-10-18 06:38:44,9204,0,20.038736,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."
0,2020-10-18 06:53:44,9204,0,20.038464,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."
1,2020-10-18 06:54:04,9204,1,20.048906,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."
2,2020-10-18 07:47:25,9204,0,20.082628,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."
...,...,...,...,...,...,...
1807,2021-09-24 18:14:35,9204,0,20.041436,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."
1808,2021-09-24 19:13:14,9204,0,20.051321,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."
1809,2021-10-02 08:14:16,9204,0,19.083227,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."
1810,2021-10-02 18:29:08,9204,0,20.043146,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."
1484,2021-10-06 15:39:20,9204,0,19.047097,1.0,"['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x5..."