In [1]:
import pandas as pd

In [11]:
jobs = pd.read_csv("../data/fullsample.csv")
jobs.head(5)

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
0,30616928,RUNNING,2021-07-31T22:15:00,Unknown,2048Mn,0,10:04:00,67-22:14:22,1,1,production,0:0
1,30853133,COMPLETED,2021-08-06T11:36:09,2021-09-05T11:36:32,262144Mn,20604.62M,30-00:00:00,30-00:00:23,1,1,cgw-platypus,0:0
2,30858137,COMPLETED,2021-08-06T19:04:39,2021-09-05T19:04:53,204800Mn,57553.77M,30-00:00:00,30-00:00:14,1,32,cgw-tbi01,0:0
3,30935078,COMPLETED,2021-08-09T16:52:51,2021-09-07T20:52:55,65536Mn,20577.96M,29-04:00:00,29-04:00:04,1,8,cgw-platypus,0:0
4,31364111_2,COMPLETED,2021-08-17T07:45:07,2021-09-10T16:45:24,16384Mn,9733.43M,24-09:00:00,24-09:00:17,1,1,production,0:0

In [20]:
jobs[jobs['JOBID'] == '24996206']

,JOBID,STATE,BEGIN,END,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE
7035907,24996206,COMPLETED,2020-10-16T10:04:38,2020-10-17T16:19:17,28000Mn,14168.54M,2-00:00:00,1-06:14:39,1,4,production,0:0

In [2]:
ce5 = pd.read_csv('../data/slurm_wrapper_ce5.log',
                  header=None,
                  delimiter=' - ',
                  engine='python',
                  nrows=100)

ce5.head()

,0,1,2,3,4,5
0,2020-10-16 08:15:39.278699,user 0,retry 0,time 0.07347559928894043,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."
1,2020-10-16 08:18:08.313309,user 0,retry 0,time 0.18363237380981445,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."
2,2020-10-16 08:22:48.128689,user 0,retry 0,time 0.07547116279602051,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."
3,2020-10-16 08:25:13.257408,user 0,retry 0,time 0.09484362602233887,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."
4,2020-10-16 08:31:01.460723,user 0,retry 0,time 0.07498788833618164,returncode 0,"command ['/usr/bin/sacct', '-u', 'appelte1', '..."

In [ ]:
# ce6 = pd.read_csv('../data/slurm_wrapper_ce6.log',
#                   header=None,
#                   delimiter=' - ',
#                   engine='python',
#                   nrows=1000)

ce6.head()

,0,1,2,3,4,5
0,2020-10-16 10:37:44.163454,user 9202,retry 0,time 0.08495402336120605,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
1,2020-10-16 10:37:44.206654,user 9202,retry 0,time 0.08943057060241699,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
2,2020-10-16 10:37:44.218760,user 9202,retry 0,time 0.05928945541381836,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
3,2020-10-16 10:37:44.256403,user 9202,retry 0,time 0.038695573806762695,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
4,2020-10-16 10:37:44.611603,user 9202,retry 0,time 0.03343677520751953,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."

In [29]:
ce6.head()

,0,1,2,3,4,5
0,2020-10-16 10:37:44.163454,user 9202,retry 0,0.08495402336120605,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
1,2020-10-16 10:37:44.206654,user 9202,retry 0,0.08943057060241699,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
2,2020-10-16 10:37:44.218760,user 9202,retry 0,0.05928945541381836,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
3,2020-10-16 10:37:44.256403,user 9202,retry 0,0.038695573806762695,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."
4,2020-10-16 10:37:44.611603,user 9202,retry 0,0.03343677520751953,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job', '..."

In [53]:
ce6['contains_sbatch'] = ce6[5].apply(lambda x: 1 if 'sbatch' in x else 0)
(ce6[['contains_sbatch']]) == 1

     contains_sbatch
0              False
1              False
2              False
3              False
4              False
..               ...
995            False
996            False
997            False
998            False
999            False

[1000 rows x 1 columns]

In [34]:
ce6[3] = ce6[3].str.replace('time ', '')

In [35]:
ce6[ce6[1] == 'user 9204']

,0,1,2,3,4,5
13,2020-10-16 10:38:29.869156,user 9204,retry 0,0.06946611404418945,returncode 0,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr..."
20,2020-10-16 10:39:44.355935,user 9204,retry 0,8.835923194885254,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job']"
36,2020-10-16 10:40:51.756875,user 9204,retry 0,6.003079652786255,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job']"
37,2020-10-16 10:40:55.596886,user 9204,retry 0,0.14368605613708496,returncode 0,"command ['/usr/bin/sacct', '-j', '24997282', '..."
307,2020-10-16 11:08:28.127242,user 9204,retry 0,2.43306303024292,returncode 0,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr..."
325,2020-10-16 11:09:37.395827,user 9204,retry 0,7.008061170578003,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job']"
336,2020-10-16 11:10:42.808455,user 9204,retry 0,4.152979135513306,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job']"
337,2020-10-16 11:10:43.982536,user 9204,retry 0,0.09874367713928223,returncode 0,"command ['/usr/bin/sacct', '-j', '24997612', '..."
770,2020-10-16 11:38:39.372164,user 9204,retry 0,3.0388524532318115,returncode 0,"command ['/usr/bin/sbatch', '/tmp/condor_g_scr..."
820,2020-10-16 11:39:48.168185,user 9204,retry 0,6.876623153686523,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job']"
883,2020-10-16 11:41:09.219454,user 9204,retry 0,15.597162246704102,returncode 0,"command ['/usr/bin/scontrol', 'show', 'job']"
896,2020-10-16 11:41:16.356748,user 9204,retry 0,0.23484230041503906,returncode 0,"command ['/usr/bin/sacct', '-j', '24998585', '..."

In [45]:
# ce6[[6, 7]] = 

re.findall(r"'([^']*)'", ['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x55c1dba6b200.1559883/bl_uB1fQz'])

TypeError: expected string or bytes-like object, got 'list'

In [42]:
import pandas as pd
import re

# Sample DataFrame
data = {'command': ["['/usr/bin/scontrol', 'show', 'job']"]}
df = pd.DataFrame(data)

# Function to extract the desired part
def extract_path(command):
    match = re.findall(r"'([^']*)'", command)
    return match

# Apply the function to the DataFrame and split into different columns
df[['path', 'action', 'object']] = pd.DataFrame(df['command'].apply(extract_path).tolist(), index=df.index)

print(df)

                                command               path action object
0  ['/usr/bin/scontrol', 'show', 'job']  /usr/bin/scontrol   show    job

In [46]:
import pandas as pd
import re

# Sample DataFrame
data = {'command': ["/usr/bin/sbatch /tmp/condor_g_scratch.0x55c1dba6b200.1559883/bl_wIovfu"]}
df = pd.DataFrame(data)

# Function to extract the desired parts
def extract_parts(command):
    parts = re.findall(r"(/[^ ]+)", command)
    return parts

# Apply the function to the DataFrame and split into different columns
df[['path', 'file']] = pd.DataFrame(df['command'].apply(lambda x: extract_parts(x)).tolist(), index=df.index)

print(df)

                                             command             path  \
0  /usr/bin/sbatch /tmp/condor_g_scratch.0x55c1db...  /usr/bin/sbatch

                                                file
0  /tmp/condor_g_scratch.0x55c1dba6b200.1559883/b...

command ['/usr/bin/scancel', '24997286']
command ['/usr/bin/scontrol', 'show', 'job', '24998440']
command ['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x55c1dba6b200.1559883/bl_Eowv8P']

In [47]:
import pandas as pd
import re

# Sample DataFrame
data = {
    'command': [
        "['/usr/bin/scancel', '24997286']",
        "['/usr/bin/scontrol', 'show', 'job', '24998440']",
        "['/usr/bin/sbatch', '/tmp/condor_g_scratch.0x55c1dba6b200.1559883/bl_Eowv8P']"
    ]
}
df = pd.DataFrame(data)

# Function to extract the first part of the command
def extract_first_part(command):
    match = re.search(r"'([^']*)'", command)
    return match.group(1) if match else None

# Apply the function to the DataFrame
df['first_part'] = df['command'].apply(extract_first_part)

# Find unique first parts
unique_first_parts = df['first_part'].unique()

print(unique_first_parts)

['/usr/bin/scancel' '/usr/bin/scontrol' '/usr/bin/sbatch']